!app/assets/builds/.keep
!app/assets/builds/feature_flags/.keep
!log/.keep
!tmp/.keep
!tmp/pids/
!tmp/pids/.keep
*.log
.DS_Store
.bundle
.env
.env.local
.envrc
.idea
.vscode
config/master.key
db/*.sqlite3
log/*
node_modules
public/assets
tmp/*
tmp/pids/*
!spec/dummy/tmp/.keep
spec/dummy/tmp/*

.env.development.local
.env.test.local
.env.production.local
